/* ==== TAILWINDCSS COLORS ==== */

/* ============================ */

:root { --color-yellow-50: oklch(0.987 0.026 102.212);  --color-yellow-100: oklch(0.973 0.071 103.193);  --color-yellow-200: oklch(0.945 0.129 101.54);  --color-yellow-300: oklch(0.905 0.182 98.111);  --color-yellow-400: oklch(0.852 0.199 91.936);  --color-yellow-500: oklch(0.795 0.184 86.047);  --color-yellow-600: oklch(0.681 0.162 75.834);  --color-yellow-700: oklch(0.554 0.135 66.442);  --color-yellow-800: oklch(0.476 0.114 61.907);  --color-yellow-900: oklch(0.421 0.095 57.708);  --color-yellow-950: oklch(0.286 0.066 53.813);  --color-green-50: oklch(0.982 0.018 155.826);  --color-green-100: oklch(0.962 0.044 156.743);  --color-green-200: oklch(0.925 0.084 155.995);  --color-green-300: oklch(0.871 0.15 154.449);  --color-green-400: oklch(0.792 0.209 151.711);  --color-green-500: oklch(0.723 0.219 149.579);  --color-green-600: oklch(0.627 0.194 149.214);  --color-green-700: oklch(0.527 0.154 150.069);  --color-green-800: oklch(0.448 0.119 151.328);  --color-green-900: oklch(0.393 0.095 152.535);  --color-green-950: oklch(0.266 0.065 152.934);  --color-blue-50: oklch(0.97 0.014 254.604);  --color-blue-100: oklch(0.932 0.032 255.585);  --color-blue-200: oklch(0.882 0.059 254.128);  --color-blue-300: oklch(0.809 0.105 251.813);  --color-blue-400: oklch(0.707 0.165 254.624);  --color-blue-500: oklch(0.623 0.214 259.815);  --color-blue-600: oklch(0.546 0.245 262.881);  --color-blue-700: oklch(0.488 0.243 264.376);  --color-blue-800: oklch(0.424 0.199 265.638);  --color-blue-900: oklch(0.379 0.146 265.522);  --color-blue-950: oklch(0.282 0.091 267.935);  --color-slate-50: oklch(0.984 0.003 247.858);  --color-slate-100: oklch(0.968 0.007 247.896);  --color-slate-200: oklch(0.929 0.013 255.508);  --color-slate-300: oklch(0.869 0.022 252.894);  --color-slate-400: oklch(0.704 0.04 256.788);  --color-slate-500: oklch(0.554 0.046 257.417);  --color-slate-600: oklch(0.446 0.043 257.281);  --color-slate-700: oklch(0.372 0.044 257.287);  --color-slate-800: oklch(0.279 0.041 260.031);  --color-slate-900: oklch(0.208 0.042 265.755);  --color-slate-950: oklch(0.129 0.042 264.695); --color-black: #000;  --color-white: #fff;}

/* ============================ */

/* ============================ */

body{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-100);
  min-height: 100vh;
}

html{
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#select-uproject{
  background-color: var(--color-blue-400);
  color: var(--color-white);
  border: none;
  min-width: 10%;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 1em;
  border-radius: 2em;
  position: absolute;
  z-index: 10;
}

#select-uproject:focus{
  background-color: var(--color-blue-500);
}

#main{
  transition: opacity 2s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100%;
  box-shadow: var(--color-slate-300) 0 0 1em 1em;
}

#top-section{
  display: flex;
  justify-content: space-evenly;
  margin: 5% 1em 5% 1em;
}

#top-section > div{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  justify-content: space-evenly;
  max-width: 80%;
}

#project-picture{ 
  max-height: 14em;
}

#project-title{
  font-size: 4em;
  padding: 0;
  margin: 0;
  color: var(--color-slate-800);
}

#unreal-version{
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: var(--color-slate-600);
}

#project-plugins{
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: var(--color-slate-500)
}

#bot-section{
  display: flex;
  margin: 0 1em 5% 5%;
  flex-direction: column;
  flex-wrap: wrap;
}

#bot-section button{
  margin: 1em;
}

#build-uproject{
  background-color: var(--color-yellow-400);
  color: var(--color-white);
  border: none;
  min-width: 10%;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 1em;
  border-radius: 2em;
}

#package-uproject{
  background-color: var(--color-green-400);
  color: var(--color-white);
  border: none;
  min-width: 10%;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 1em;
  border-radius: 2em;
}

#build-uproject:focus{
  background-color: var(--color-yellow-500);
}

#package-uproject:focus{
  background-color: var(--color-green-500);
}

@media (max-width: 1000px){
  #project-title{
    font-size: 2em;
  }
  
  #unreal-version{
    font-size: 1.25em;
  }
}